<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3 form-group">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First Name"%>
  </div>

  <div class="field mb-3 form-group">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name"%>
  </div>

  <div class="field mb-3 form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="field mb-3 form-group">
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone" %>
  </div>

  <div class="field mb-3 form-group">
    <%= form.text_field :twitter, class: "form-control", placeholder: "Twitter"%>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit class: "btn btn-secondary"%>
  </div>
<% end %>
